#quizes {

    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;

    .quizesTitle {
        font-size: 64px;
        margin: 16px 0;
    }

    .quizList {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));

        &>* {
            margin: 16px;
            // width: 22%;
        }
    }
}