.quizTile {
    padding: 16px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    & div:nth-child(1) {
        margin-bottom: 16px;
    }

    & div:nth-child(2) {
        align-self: flex-end;

        & * {
            cursor: pointer;
        }

        & *:nth-child(1) {
            margin-right: 8px;
        }
    }
}