#profile {
    display: flex;
    justify-content: center;

    #profile-container {
        max-width: 768px;

        #top-panels {
            width: 100%;
            display: flex;

            &>* {
                padding: 8px;
                width: 50%;

                &>* {
                    width: 100%;
                    padding: 16px;

                    &:not(:last-child) {
                        margin-bottom: 16px;
                    }
                }
            }
        }

        #points-history {
            margin-top: 16px;
            padding: 8px;
        }
    }
}