#leaderboard {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    .tabBox {
        margin-top: 24px;
        width: 80%;
    }

    .leaderPaper {
        width: 80%;
        border-radius: 10px;
    }

    .color {
        background-color: rgba(20, 20, 20, 0.05);
    }
}