#user-profile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    .avatar {
        margin: 0 auto;
        margin-bottom: 32px;
        border: 2px solid rgb(0, 0, 0, 0.73)
    }
}