#upload-form {
    margin: 0 auto;
    margin-top: 64px;

    .files-drop {
        border-radius: 8;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}